.container {
    padding-top: calc(22em/7);
    width: 48em;
}

.article-list-item {
    width: 100%;
    border: calc(22em/7/12) solid #ccc;
    border-radius: calc(22em/7/12);
    padding: calc(22em/7/3);
    margin-top: calc(22em/7/3);
}
.article-list-item img {
    width: calc(100% - 22em/7);
}